/css

/grammars
/extensions
/installer_files
/repositories
/softprompts
/torch-dumps
/training/datasets
/00_my_scripts/chatbot.log

/CMD_FLAGS.txt
/img_bot*
/img_me*
/models/config-user.yaml
/notification.mp3
/settings*.json
/settings*.yaml
/pre-prompt.json
/transcriptions.txt
/audio
/user_data

.chroma
.DS_Store
.eslintrc.js
.idea
.installer_state.json
.venv
venv
.envrc
.direnv
.vs
.vscode
*.bak
*.ipynb
*.log
*pycache*
cert.pem
key.pem
package.json
package-lock.json
Thumbs.db
wandb

# ignore user docker config and top level links to docker files
/docker-compose.yaml
/docker-compose.yml
/Dockerfile
*.env

# open-webui related things
/pipelines
/00_my_data
/WhisperLive
*.webui_secret_key

auth_token.txt
*.wav
*chat_log.json
*.crt 
*.csr 
*.key
*.srl
*web.config